[submodule "submodules/imgs"]
	path = submodules/imgs
	url = https://github.com/mikedecr/imgs_self.git
[submodule "blog/usable_repos"]
	path = blog/usable_repos
	url = https://github.com/mikedecr/usable-repos.git
[submodule "blog/modular_blog"]
	path = blog/modular_blog
	url = https://github.com/mikedecr/post_blogdown-submodules.git
[submodule "blog/fp_basics"]
	path = blog/fp_basics
	url = git@github.com:mikedecr/post_fp_basics.git
[submodule "blog/latex_colors"]
	path = blog/latex_colors
	url = git@github.com:mikedecr/post_latex-colors.git
[submodule "blog/nonflat_implied_priors"]
	path = blog/nonflat_implied_priors
	url = git@github.com:mikedecr/post_nonflat-priors.git
[submodule "blog/mandelbrot_iterative_recursive"]
	path = blog/mandelbrot_iterative_recursive
	url = git@github.com:mikedecr/post_mandelbrot_iterative_recursive.git
